<?xml version="1.0" encoding="utf-8"?>
<service>
    <short>node-exporter</short>
    <description>Firewall rule for node-exporter port</description>
    <port protocol="tcp" port="{{ port }}"/>
</service>
